@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cabin+Sketch:wght@700&family=Lobster&family=Magra&family=Open+Sans:wght@300&family=Ruda&display=swap");
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Abel", sans-serif;
}

header {
  margin: 0 auto;
  width: 1000px;
}
img.imglogo {
  width: 150px;
  margin: 18px 0px;
}

/* SIDEBAR CSS */
.sidebar ul li a.active {
  background: #596ed3;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #a2b1ff;
}
.sidebar ul {
  list-style: none;
  text-align: initial;
  padding-left: 0px;
}
.sidebar ul li {
  /* padding: 13px 17px; */
  /* padding-bottom: 8px; */
  width: 180px;
  border-bottom: 1px groove #eef1ff;
  cursor: pointer;
  margin: 0px 10px;
}
a.logoLink.active {
  padding: 0;
  display: block;
}
.sidebar ul li:hover {
  background: #596ed3;
}
.sidebar ul li a {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  width: 165px;
  padding: 13px 17px;
  padding-bottom: 13px;
  /* margin: 0px 10px;*/
}
.sidebar ul li a label {
  margin-left: 24px;
  cursor: pointer;
  text-transform: uppercase;
}
img.logoSidebar {
  width: 100px;
  margin-left: 24px;
}
.sidebar ul li:first-child {
  padding: 37px 0px 37px 0px;
  display: inline-flex;
}
.sidebar ul li:first-child:hover {
  background: none;
}

.open ul li label,
.open img.logoSidebar {
  display: block;
  transition: 2s;
}
.open ul li {
  width: 200px;
  transition: width 1s;
}
.close ul li label,
.close img.logoSidebar {
  display: none;
  transition: 2s;
}
.close ul li {
  width: 65px;
  transition: width 1s;
}
.close ul li a {
  width: 32px;
}
button.menu {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 17px;
}

.navbar {
  margin: 0px 0px 40px auto;
}
.navbar ul {
  padding-left: 0;
}
.navbar li {
  display: inline-flex;
  list-style: none;
  margin: 0px 27px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.navbar li a {
  text-decoration: none;
  color: #9d9d9d;
}
.navbar li a:hover {
  transform: scale(1);
}
.navbar li a:hover::after,
.navbar li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.navbar li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navbar li a:focus {
  transform: scale(1);
  opacity: 1;
}
.navbar li a:hover::after,
.navbar li a:focus::after {
  transform: scale(1);
}
.navbar li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #9d9d9d;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.container {
  width: 65%;
  margin: 0 auto;
}
.card {
  width: 173px;
  height: 305px;
  margin: 24px 37px;
  border-radius: 14%;
  box-shadow: 9px 9px #747474;
}
.cards {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
}
.cardsForProfile {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
  width: 65%;
}
button.Edit {
  float: right;
  margin-right: 39px;
  border: none;
  background: #a2b1ff;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  padding: 7px 23px;
  cursor: pointer;
  color: white;
}
button.Edit:hover {
  background: #b3bfff;
  transition: all 0.3s ease 0s;
}

div.label {
  position: initial;
  /* bottom: 51px; */
  font-size: 22px;
  color: aliceblue;
  /* background-color: #b3a08966; */
  padding: 7px 0px;
  width: 100%;
  text-align: start;
  float: left;
  margin-left: 18px;
  margin-top: 170px;
}

div.count {
  /*position: absolute; */
  /* top: 0; */
  /* right: 0px; */
  border-radius: 50%;
  width: 8%;
  float: right;
  padding: 11px 16px;
  background-color: antiquewhite;
  color: white;
  font-weight: bold;
}
.head p {
  background: #5370ffa8;
  width: 276px;
  padding: 13px 38px 13px 65px;
  text-transform: uppercase;
  font-size: 17px;
  position: absolute;
  text-align: end;
  color: white;
  border-radius: 0px 25px 25px 0px;
  font-weight: bold;
}
/* footer {
  width: 100%;
  margin-top: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
  color: #868686;
} */

.profileimg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  background-position: center;
  border-radius: 32px;
  width: 70px;
}
.profileimgSearch {
  background-repeat: no-repeat;
  background-size: cover;
    background-repeat: no-repeat;
      background-size: cover;
      height: 45px;
      background-position: center;
      border-radius: 32px;
      width: 45px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 18px 40px;
  width: max-content;
  justify-content: center;
}
.profile p {
  margin: 5px 15px;
  font-size: 20px;
  color: #141414;
  cursor: pointer;
}
.followhead h1 {
  color: #5e6ba8;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px #a3a9c4;
}
.listhead h1 {
  color: #5e6ba8;
  font-size: 25px;
  margin-top: 35px;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px #a3a9c4;
}
.followhead {
  width: 50%;
}
ul.results {
    list-style: none;
      width: 64%;
      padding: 0;
      margin: 0px auto;
}
ul.results li {
    padding: 5px 7px;
      border-bottom: 1px solid #e6e6e6;
}
ul.results p{
  margin: 0;
  text-align: initial;
  cursor: pointer;
}
.searchInfo p:first-child {
  color: black;
  font-family: "Abel", sans-serif;
}
.searchInfo p:last-child {
  color: #979797;
  font-size: 12px;
}
.searchTag img {
  width: 45px;
}
.searchInfo {
  margin-left: 15px;
}
.searchTag {
  display: flex;
  align-items: center;
}

.searchTag p {
  margin-left: 15px !important;
  color: black;
}
.divider {
  margin: 20px 0;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #787878;
  height: 112px;
}
div.FollowInfo {
  display: inline-flex;
  justify-content: space-evenly;
  width: 70%;
}
.profile p:last-child {
  color: #9a9a9a;
  font-size: 13px;
  margin-left: 24px;
}
.profiles {
  display: flex;
  margin: 30px auto;
  width: 73%;
  flex-wrap: wrap;
  justify-content: center;
}
a.prop {
  display: flex;
  align-items: center;
    cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.flex button {
  width: max-content;
  padding: 10px 23px;
  border: 1px solid #a2b1ff;
  color: white;
  background-color: #a2b1ff;
  border-radius: 7px;
  font-size: 15px;
  font-family: "Abel", sans-serif;
  cursor: pointer;
}
.search input {
  width: 80%;
  border-radius: 20px 0px 0px 20px;
  height: 45px;
  border: none;
  /* position: relative; */
  background-color: #a3b0ff;
  /* margin-top: 43px; */
  padding-left: 30px;
  font-size: 20px;
  color: #ffffff !important;
  box-shadow: 0px 2px 4px #6f7bc6;
}
.search input::placeholder {
  padding-left: 10px;
  font-size: 15px;
  color: #ffffff;
}

.search {
  border-bottom: 1px solid #96969682;
  padding-bottom: 17px;
  width: 64%;
  display: inline-flex;
  margin: 0 auto;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.search button {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABcklEQVR4nO2WwUpCQRiFL5lusnYJvYL1Dtm6FhnlK4hhaT1F+BpmPUoQbbIgJW3fWhe1+uK3c2FWysxcJMgDAxfunP8bZv575ibJSn9FQAGoAXfAAJhq2HNP7wpZQ0+AMYs1AqpZANeAjlP4GbgEysCGxi7QAvrOvBvzxoA7KvQF1OcV0yIbmjuDx2wvKrTv4as48OOQRhrLXA9Y9Lm870Dex1hzztT7rIAc8KIapz7Ge5kufKFOjbZq3PqYhjKVI8DW7aaBj2kiUzECvKkak2WDt0LAwwy2ei/tbB9TT6ZWBPhaNbohn1M/4nN6VY0z3wAZydgIADfltRBa9zVXZbb4q3j4DoBveY98Fz2TbpkUbjGYS+Zvb9OBfgKlJET83jgpHMVgW+FQ1LDuvXLONIWm88PgJrtlFPiL9AEcGszJ6mh43gLfshd4U8hMtaCuda/bSJnCfQVsO38mttid5L/AS862Py4N7MCfgIelgldKpB/hgvXNldcwtQAAAABJRU5ErkJggg==);
  height: 29px;
  width: 28px;
  top: 21%;
  right: 30%;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 4px #6f7bc6;
  padding: 23.5px 30.5px 23.5px 35.5px;
  background-color: #a2b1ff;
  border-radius: 0px 20px 20px 0px;
  border: none;
  cursor: pointer;
}
.search input:focus {
  outline: none;
}
a {
  text-decoration: none;
}

.ppDetailimg {
  background: url(./components/ASSETS/images/profileimg.png) no-repeat;
  background-size: 100px;
  height: 100px;
  background-position: center;
  border-radius: 59px;
  width: 100px;
  margin: 20px auto;
}
.ppDetail {
  /* border: 1px solid; */
  width: 65%;
  margin: 40px auto;
  border-radius: 21px;
  box-shadow: 0px 5px 20px 4px #dee2ee;
  padding: 18px 0px;
}
.ppDetail button.false:hover {
  border: 1px solid #8c9aff;
  background: #8d9aff;
  color: #ffffff;
  text-shadow: 1px 2px 2px #c7d3ff;
  transition: 0.4s;
}
.myProfile button.followed {
  width: 400px;
  padding: 12px 0px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid #8c9aff;
  border-radius: 10px;
  background: #ffff;
  color: #5e6ba8;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 2px 2px #c7d3ff;
}
.info p {
  display: inline-grid;
  margin: 15px 65px;
  color: #838383;
  font-size: 15px;
}
.ppDetail button.follow {
  width: 400px;
  padding: 12px 0px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid #8c9aff;
  border-radius: 10px;
  background: #8d9aff;
  color: #ffff;
  text-shadow: 1px 2px 2px #a3a9c4;
  cursor: pointer;
  font-weight: bold;
}

.followppimg {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  background-position: center;
  border-radius: 59px;
  width: 60px;
  margin: 20px auto;
  background-size: cover;
}
.followers div {
  display: inline-flex;
  margin: 0;
  /*margin-right: 0 !important;*/
  justify-content: flex-start;
}

.ppDetailCard {
  width: 130px;
  height: 225px;
  /* position: initial; */
  margin: 20px 25px;
  border-radius: 14%;
  background-size: cover !important;
}

.info span {
  font-weight: bold;
  color: black;
  font-size: 17px;
}
label.name {
  font-weight: bold;
  font-size: 17px;
}
label.show {
  font-size: 21px;
  color: #595959;
  cursor: pointer;
}

.containerTarget {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  margin: 11px 0px 10px 25px;
  color: #595959;
  align-items: center;
  position: relative;
}

/* Hide the browser's default checkbox */
.containerTarget input.checkBoxes {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
input.contentInpt {
  border: none;
  background: none;
  width: max-content;
}
input.contentInpt:focus {
  outline: none;
}

/* Create a custom checkbox */
.checkmark {
  top: -3px;
  left: -2px;
  border-radius: 15px;
  height: 25px;
  width: 28px;
  border: 1.5px solid #f4c181;
  background-color: #ffedd7;
}
.checkmark img {
  width: 25px;
  display: none;
}
.containerTarget .checkmark img {
  display: block;
}
label.matter {
  margin-left: 10px;
}
/* On mouse-over, add a grey background color */
.containerTarget:hover input ~ .checkmark {
  background-color: #ffffff;
}

button.DeleteItem {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  visibility: hidden;
}

label.containerTarget:hover button.DeleteItem {
  visibility: visible;
}

/* When the checkbox is checked, add a blue background */
/* .containerTarget input:checked ~ .checkmark {
  background-color: #f4c181;
} */
input.AddItem {
  border-bottom: none;
  color: #595959 !important;
  background: none;
  margin-left: 31px;
  padding: 0;
  font-size: 19px;
  font-family: "Abel", sans-serif;
  margin-top: auto;
}
input.AddItem::placeholder {
  color: #3e3e3e;
  font-style: italic;
}
input.titleGoal {
  border: none;
  border-bottom: 1px solid #a2b1ff;
  /* box-shadow: 0px 0px 2px #a2b1ff; */
  /* border-radius: 4px; */
  height: 23px;
  margin-right: 14px;
  height: 30px;
  font-family: "Abel", sans-serif;
  width: 203px;
  font-size: 17px;
  transition: all 0.3s ease 0s;
  padding-left: 12px;
}
input.titleGoal:focus {
  outline: none;
  border: 1px solid gray;
}
input.buttonGoal:hover {
  background-color: #6a84ff;
  transition: all 0.3s ease 0s;
  color: #f9f8ff;
}
input.buttonGoal {
  border: none;
  border-radius: 4px;
  padding: 5px 13px;
  background-color: #a2b2ff;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 4px #a2b1ff;
  font-size: 17px;
  font-family: "Abel", sans-serif;
}
.CreatingPart label {
  font-size: 20px;
  margin-right: 16px;
  text-transform: uppercase;
  margin-top: 5px;
}
.goal {
  margin: 0 auto;
  width: 60%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.CreatingPart {
  display: flex;
  margin-top: 25px;
  margin-left: 37px;
}
.CreatingItem {
  display: flex;
  margin-top: 25px;
}
.createGoal {
  width: 61%;
  margin: 0 auto;
}

.createGoal button {
  display: flex;
  color: white;
  border: none;
  transition: all 0.3s ease 0s;
  padding: 8px 25px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  background: #6a84ff;
  align-items: center;
  font-family: "Abel", sans-serif;
}
.createGoal button:hover {
  background-color: #8da1ff;
  transition: all 0.3s ease 0s;
}
.target {
  width: 43%;

  margin: 28px 27px;
  /* margin: 43px auto; */
  border-radius: 30px;
  background-color: #ffedd7;
  position: initial;
  height: max-content;
  box-shadow: 11px 6px #f4c181;
}

/* Animasyonun hedeflere uygulanması */
.target.open {
  animation: openAnimation 0.3s ease;
}
.title {
  text-transform: uppercase;
  text-align: left;
  background: #f4c181;
  width: 94.5%;
  height: max-content;
  border-radius: 1px 1px 29px 29px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}
.goalcount {
  position: relative;
  right: 0;
  border-radius: 50%;
  padding: 4px 16px;
  background-color: #f4c181;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border: 2px solid #ffedd7;
}
.monthly .containerTarget input:checked ~ .checkmark {
  background-color: #bddfff;
}
.monthly .checkmark {
  border: 1.5px solid #bddfff;
  background-color: #f4f9ff;
}
.monthly {
  box-shadow: 11px 6px #bddfff;
  border: 1px solid #bddfff;
  background-color: #f4f9ff;
}
.monthly .title {
  background: #bddfff;
}
.monthly .goalcount {
  background-color: #bddfff;
  border: 2px solid #f4f9ff;
}
.monthly .containerTarget {
  color: #42719d;
}

.yearly .containerTarget input:checked ~ .checkmark {
  background-color: #8fa8ec;
}
.yearly .checkmark {
  border: 1.5px solid #8fa8ec;
  background-color: #f4f9ff;
}
.yearly {
  box-shadow: 11px 6px #8fa8ec;
  border: 1px solid #8fa8ec;
  background-color: #f4f9ff;
}
.yearly .title {
  background: #8fa8ec;
}
.yearly .goalcount {
  background-color: #8fa8ec;
  border: 2px solid #f4f9ff;
}
.yearly .containerTarget {
  color: #4d5f91;
}

.CollectionDetail {
  background: url(./components/ASSETS/images/health\ kopyası.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.CollExplanation img.itemImage {
  width: 300px;
}
.ImagePart {
  display: flex;
  align-items: center;
  width: max-content !important;
}
p.tag {
  color: white;
  font-size: 24px;
  font-style: italic;
  text-transform: none;
  margin-bottom: 10px;
  margin-top: -14px;
}
.CollExplanation {
  text-align: initial;
  margin: 0 auto;
  width: 55%;
}
.CollExplanation p {
  font-size: 19px;
}
.item {
  background: white;
  display: flex;
  /* border: 1px solid; */
  box-shadow: 0px 0px 12px 2px #979cb9;
  width: 750px;
  border-radius: 50px;
  margin: 0px auto;
  margin-top: -100px;
  font-size: 18px;
  line-height: 30px;
  font-family: system-ui;
  color: #767676;
  text-align: left;
}
.collectionHead {
  text-transform: uppercase;
  justify-content: center;
  color: white;
  font-size: 45px;
  text-shadow: 6px 4px 7px black;
  padding-top: 20px;
}
.CreatingItem div {
  width: 100%;
}
input.imageFile {
  width: 300px !important;
}
textarea.textareColl {
  border: none;
  width: 70%;
  height: 250px;
  font-family: "Abel", sans-serif;
  padding: 15px;
  font-size: 20px;
  border: none;
  box-shadow: 0px 0px 7px #a2b2ff;
  margin-right: 20px;
}
textarea.textareColl:focus {
  outline: none;
}
.item ul {
  margin: 30px 60px;
}
.item ul li {
  margin: 5px 0px;
}
.bgOpacity {
  height: 200px;
  width: 100%;
  margin: 0 auto;
}
.item ul li::marker {
  color: #a9722d;
}
.createCollection p {
  text-transform: uppercase;
  font-size: 27px;
  display: flex;
  margin: 0;
  color: #3f60ff;
}
.createCollection label.labelText {
  font-size: 18px;
  display: block;
  color: #5f5f5f;
}
label.labelText.nameColl {
  margin-top: 25px;
}

.ContainerWheel {
  width: 100%;

  justify-content: space-between;
}
.ContainerWheel h1 {
  color: #4a4a4a;
  display: flex;
  /* text-shadow: 1px 1px 4px #817676; */
  font-size: 50px;
  margin: 25px -85px;
}
.ContainerWheel p {
  color: #4a4a4a;
  font-size: 20px;
  margin: 30px 0px;
  display: flex;
  text-align: center;
}
.UploadImage {
/*   display: flex;
  align-items: center;
  margin-right: 50px;
  justify-content: center; */
      display: inline-flex;
        align-items: center;
        margin-top: 10px;
}
.createCollection input[type="text"] {
/*   border: none;
  font-size: 16px;
  padding: 3px 16px;
  font-family: "Abel", sans-serif;
  width: 150px;
  margin-bottom: 27px;
  margin-right: 40px;
  height: 22px;
  border: none;
  border-bottom: 1px solid #a8a8a8; */
      border: none;
        /* margin-left: 53px; */
        font-size: 16px;
        padding: 3px 16px;
        font-family: "Abel", sans-serif;
        width: 250px;
        margin-bottom: 27px;
        height: 32px;
        border: none;
        border-bottom: 1px solid #a8a8a8;
}
#imagePreview {
    width: 200px;
      height: 200px;
  display: flex;
  box-shadow: 0px 0px 8px #ccd5ff;
  color: #666666;
  border: none;
  margin-right: 31px;
  align-items: center;
  font-family: "Abel", sans-serif;
  justify-content: center;
  margin-right: 30px;
}
div#imagePreviewColl {
  width: 100px;
  color: #666666;
  height: 100px;
  box-shadow: 0px 0px 8px #ccd5ff;
  border: none;
  font-family: "Abel", sans-serif;
  display: flex;
  margin-right: 31px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.imgPreview {
width: 155px;
  height: 190px;
}
.imgPreviewDetail {
width: 100px;
  height: 100px;
}
input[type="file"] {
  position: relative;
  width: 73%;
}


input[type="file"]::file-selector-button {
  width: 140px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 8px;
  left: 14px;
  height: 25px;
  background-size: cover;
  width: 25px;
  content: "";
  background-image: url("./components/ASSETS/icons/image.png");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  top: 11px;
  font-family: "Abel", sans-serif;
  left: 50px;
  color: #ffffff;
  content: "Upload Image";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #a2b1ff;
  border: 1px solid #a2b1ff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #ced6ff;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

canvas#canvas {
  width: 80%;
}
.table {
  margin-left: 350px;
}
.articles ul {
  list-style: auto;
  text-align: left;
  color: #4a4a4a;
  font-size: 23px;
  margin: 50px 0px 0px 0px;
  padding: 0;
  width: 100%;
}

.imgWheel img {
  display: block;
  width: 394px;
  position: absolute;
  top: 40px;
  right: 200px;
}

/*Swiper*/
.swiper {
  width: 65%;
  height: max-content;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next {
  background-image: url(./components/ASSETS/icons/arrow-right.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -14px !important;
  margin-right: -10px !important;
}
.swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-prev {
  background-image: url(./components/ASSETS/icons/arrow-left.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -14px !important;
  margin-left: -11px !important;
}

input#male,
input#female {
  width: 2%;
  padding: 0;
  border: none;
  height: 18px;
}
.labelradio {
  margin-right: 30px;
}
label.labelPublic {
  margin-right: 25px;
}
input#public,
input#private {
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 30px;
}
.createCollection {
/*   margin: 40px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; */
      margin: 40px auto;
        width: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: flex-start;
}
input.BackBtn {
  padding: 9px 22px;
  background: white;
  border: 1px solid gray;
  font-family: "Abel", sans-serif;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}
input.crecolBtn {
  padding: 14px 65px;
  background: #6a84ff;
  border: 1px solid #6a84ff;
  color: white;
  font-family: "Abel", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 4px #a2b1ff;
}
.itemBtn button {
  width: 60px;
  background-color: #f3f3f3;
  border: none;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
  /* border-radius: 4px; */
  margin-right: 6px;
}
.titleBtn {
  background-image: url(./components/ASSETS/icons/title.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.textBtn {
  background-image: url(./components/ASSETS/icons/text.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.imageBtn {
  background-image: url(./components/ASSETS/icons/detailImage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.editButon button {
  width: 200px;
  text-transform: uppercase;
  color: #707070;
  height: 53px;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  border: none;
  box-shadow: 0px 0px 3px #9facef;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.UpdateContain {
  display: inline-flex;
  margin: 0px auto;
  width: 80%;
  justify-content: center;
  margin-right: 258px;
  align-items: flex-start;
}
.editButon {
  margin-right: 70px;
  display: grid;
  align-content: center;
}
.editButon button:hover {
  background: #9facef;
  color: white;
  transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* .editButon button::after {
  content: url("./components/ASSETS/icons/sign.png");
  position: absolute;
  right: 0;
} */


