@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cabin+Sketch:wght@700&family=Lobster&family=Magra&family=Open+Sans:wght@300&family=Ruda&display=swap');
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Abel', sans-serif;
}

header {
  margin: 0 auto;
  width: 1000px;
}
img.imglogo {
  width: 200px;
  margin: 18px 0px;
}

/* SIDEBAR CSS */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #a2b1ff;
}
.sidebar ul {
  list-style: none;
  text-align: initial;
  padding-left: 0px;
  margin-top: 170px;
}
.sidebar ul li {
  /* padding: 13px 17px; */
  /* padding-bottom: 8px; */
  width: 180px;
  border-bottom: 1px groove #eef1ff;
  cursor: pointer;
  margin: 0px 10px;
}
.sidebar ul li:hover {
  background: #596ed3;
}
.sidebar ul li a {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  width: 136px;
  padding: 13px 17px;
  padding-bottom: 13px;
  /* margin: 0px 10px;*/
}
.sidebar ul li a label {
  margin-left: 24px;
      cursor: pointer;
}
img.logoSidebar {
  width: 78px;
  margin-left: 24px;
}
.sidebar ul li:first-child {
  padding-bottom: 12px;
}
.sidebar ul li:first-child:hover {
  background: none;
}

.open ul li label ,.open img.logoSidebar {
  display: block;
  transition:  2s;
}
.open ul li{
  width: 180px;
  transition: width 1s;
}
.close ul li label, .close img.logoSidebar  {
  display: none;
  transition: 2s;

}
.close ul li{
  width: 65px;
  transition: width 1s;

}
button.menu{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.navbar {
  margin: 0px 0px 40px auto;
}
.navbar ul {
  padding-left: 0;
}
.navbar li {
  display: inline-flex;
  list-style: none;
  margin: 0px 27px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.navbar li a {
  text-decoration: none;
  color: #9d9d9d;
}
.navbar li a:hover{

  transform: scale(1);
}
.navbar li a:hover::after,
.navbar li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.navbar li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navbar li a:focus{
  transform: scale(1);
  opacity: 1;
}
.navbar li a:hover::after,
.navbar li a:focus::after{
  transform: scale(1);
}
.navbar li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #9d9d9d;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}






.card.health,.ppDetailCard.health {
  background: url(./components/ASSETS/images/health\ kopyası.jpeg) no-repeat;
  background-size: 571px;
  background-position: 59% 20%;
  box-shadow: 9px 9px #f8a770;
}
.card.marketlist,.ppDetailCard.marketlist {
  background: url(./components/ASSETS/images/market.jpeg) no-repeat;
  background-size: 460px;
  background-position: 59% 20%;
  box-shadow: 9px 9px #c7b2d5;
}
.card.movies,.ppDetailCard.movies {
  background: url(./components/ASSETS/images/movie.jpeg) no-repeat;
  background-size: 571px;
  background-position: 59% 20%;
  box-shadow: 9px 9px #E7BBD7;
}
.card.books,.ppDetailCard.books {
  background: url(./components/ASSETS/images/book.jpeg) no-repeat;
  background-size: 495px;
  background-position: 59% 20%;
  box-shadow: 9px 9px #f27b6f;
}
.card.clothes,.ppDetailCard.clothes {
  background: url(./components/ASSETS/images/clothes.jpeg) no-repeat;
  background-size: 545px;
  background-position: 59% 20%;
  box-shadow: 9px 9px #6fdfe5;
}
.card.recipes,.ppDetailCard.recipes {
  background: url(./components/ASSETS/images/recipe.jpeg) no-repeat;
  background-size: 310px;
  background-position: 59% 20%;
  box-shadow: 9px 9px #4073af;
}
.card.places,.ppDetailCard.places {
  background: url(./components/ASSETS/images/places.jpeg) no-repeat;
  background-size: 545px;
  background-position: 49% 20%;
  box-shadow: 9px 9px #e7bbd7;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.card {
  width: 173px;
  height: 305px;
  position: relative;
  margin: 24px 37px;
  border-radius: 14%;
  box-shadow: 9px 9px #747474;
}
.cards {
  width: 1000px;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
} 

div.label {
  position: initial;
  /* bottom: 51px; */
  font-size: 22px;
  color: aliceblue;
  background-color: #b3a08966;
  padding: 7px 0px;
  width: 100%;
  float: left;
  margin-top: 100px;
}

div.count {
  /*position: absolute; */
  /* top: 0; */
  /* right: 0px; */
  border-radius: 50%;
  width: 8%;
  float: right;
  padding: 11px 16px;
  background-color: antiquewhite;
  color: white;
  font-weight: bold;
}
.head p {
  background: #5370ffa8;
  width: 276px;
  padding: 13px 38px 13px 65px;
  text-transform: uppercase;
  font-size: 17px;
  position: absolute;
  text-align: end;
  color: white;
  border-radius: 0px 25px 25px 0px;
  font-weight: bold;
}
footer {
  background: #f6f6f6;
  width: 100%;
  margin-top: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #868686;
}

.profileimg {
  background: url(./components/ASSETS/images/profileimg.png) no-repeat;
  background-size: 67px;
  height: 65px;
  background-position: center;
  border-radius: 32px;
  width: 70px;
}
.profile {
  display: flex;
  align-items: center;
  margin: 18px 40px;
  width: 250px;
  justify-content: center;
}
.profile p {
  margin: 5px 15px;
  font-size: 20px;
  color: #141414;
}
.followhead h1 {
  color: #5e6ba8;
  text-shadow: 1px 2px 2px #a3a9c4;
}
.profile p:last-child {
  color: #9a9a9a;
  font-size: 13px;
  margin-left: 24px;
}
.profiles {
  display: flex;
  margin: 30px auto;
  width: 663px;
  flex-wrap: wrap;
  justify-content: center;
}
a.prop {
  display: flex;
  align-items: center;
}
.search input {
  width: 450px;
  border-radius: 20px;
  height: 45px;
  border: none;
  background-color: #a3b0ff;
  margin-top: 43px;
  padding-left: 30px;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0px 2px 4px #6f7bc6;
}
.search input::placeholder {
  padding-left: 10px;
  font-size: 15px;
  color: #ffffff;
}

.search {
  border-bottom: 1px solid #96969682;
  padding-bottom: 17px;
  width: 547px;
  margin: 0 auto;
  position: relative;
}

.search button{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABcklEQVR4nO2WwUpCQRiFL5lusnYJvYL1Dtm6FhnlK4hhaT1F+BpmPUoQbbIgJW3fWhe1+uK3c2FWysxcJMgDAxfunP8bZv575ibJSn9FQAGoAXfAAJhq2HNP7wpZQ0+AMYs1AqpZANeAjlP4GbgEysCGxi7QAvrOvBvzxoA7KvQF1OcV0yIbmjuDx2wvKrTv4as48OOQRhrLXA9Y9Lm870Dex1hzztT7rIAc8KIapz7Ge5kufKFOjbZq3PqYhjKVI8DW7aaBj2kiUzECvKkak2WDt0LAwwy2ei/tbB9TT6ZWBPhaNbohn1M/4nN6VY0z3wAZydgIADfltRBa9zVXZbb4q3j4DoBveY98Fz2TbpkUbjGYS+Zvb9OBfgKlJET83jgpHMVgW+FQ1LDuvXLONIWm88PgJrtlFPiL9AEcGszJ6mh43gLfshd4U8hMtaCuda/bSJnCfQVsO38mttid5L/AS862Py4N7MCfgIelgldKpB/hgvXNldcwtQAAAABJRU5ErkJggg==);
  position: absolute;
  height: 29px;
  width: 28px;
  top: 50px;
  right: 50px;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.ppDetailimg {
  background: url(./components/ASSETS/images/profileimg.png) no-repeat;
  background-size: 100px;
  height: 100px;
  background-position: center;
  border-radius: 59px;
  width: 100px;
  margin: 20px auto;
}
.ppDetail {
  /* border: 1px solid; */
  width: 740px;
  margin: 40px auto;
  border-radius: 21px;
  box-shadow: 0px 5px 20px 4px #dee2ee;
  padding: 18px 0px;

}
.ppDetail button:hover {
  border: 1px solid #8c9aff;
  background: #8d9aff;
  color: #ffffff;
  text-shadow: 1px 2px 2px #c7d3ff;
  transition: 0.4s;
}
.info p {
  display: inline-grid;
  margin: 15px 65px;
  color: #838383;
  font-size: 15px;
}
.ppDetail button {
  width: 400px;
  padding: 12px 0px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid #8c9aff;
  border-radius: 10px;
  background: white;
  color: #5e6ba8;
  text-shadow: 1px 2px 2px #a3a9c4;
  cursor: pointer;
  font-weight: bold;
}

.followppimg {
  background: url(./components/ASSETS/images/profileimg.png) no-repeat;
  background-size: 60px;
  height: 60px;
  background-position: center;
  border-radius: 59px;
  width: 60px;
  margin: 20px auto;
}
.followers div {
  display: inline-block;
  margin: 10px 15px;
}

.ppDetailCard{
  width: 130px;
  height: 225px;
  /* position: initial; */
  margin: 0px 25px;
  border-radius: 14%;
}

.info span {
  font-weight: bold;
  color: black;
  font-size: 17px;
}
label.name {
  font-weight: bold;
  font-size: 17px;
}

.containerTarget {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 16px 2px 7px 25px;
  color: #b06a12;
}


/* Hide the browser's default checkbox */
.containerTarget input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -3px;
  left: -2px;
  border-radius: 15px;
  height: 25px;
  width: 28px;
  border: 1.5px solid #f4c181;
  background-color: #ffedd7;
}

/* On mouse-over, add a grey background color */
.containerTarget:hover input ~ .checkmark {
  background-color: #e7e7e7;
}

/* When the checkbox is checked, add a blue background */
.containerTarget input:checked ~ .checkmark {
  background-color: #f4c181;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerTarget input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerTarget .checkmark:after {
  left: 10px;
  top: 0px;
  width: 8px;
  height: 17px;
  border:solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.goal {
  margin: 0 auto;
  width: 1000px;
}
.target {
  width: 80%;
  border: 1px solid #f4c181;
  margin: 45px auto;
  border-radius: 30px 30px 0px 30px;
  background-color: #ffedd7;
  position: relative;
  height: 200px;
  box-shadow: 11px 6px #f4c181;
}
.title {
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  bottom: 0;
  background: #f4c181;
  width: 96.5%;
  height: 37px;
  border-radius: 1px 1px 1px 29px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
    font-size: 20px;
    font-weight: bold;
}
.goalcount {
  position: absolute;
  bottom: 0px;
  right: -4px;
  border-radius: 50%;
  padding: 8px 20px;
  background-color: #f4c181;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border: 2px solid #ffedd7;
}
.monthly .containerTarget input:checked ~ .checkmark {
  background-color: #BDDFFF;
}
.monthly .checkmark {
  border: 1.5px solid #bddfff;
  background-color: #f4f9ff;
}
.monthly {
  box-shadow: 11px 6px #bddfff;
  border: 1px solid #bddfff;
  background-color: #f4f9ff;
}
.monthly .title {
  background: #bddfff;
}
.monthly .goalcount {
  background-color: #bddfff;
  border: 2px solid #f4f9ff;
}
.monthly .containerTarget {
  color: #42719d;
}



.yearly .containerTarget input:checked ~ .checkmark {
  background-color: #8fa8ec;
}
.yearly .checkmark {
  border: 1.5px solid #8fa8ec;
  background-color: #f4f9ff;
}
.yearly {
  box-shadow: 11px 6px #8fa8ec;
  border: 1px solid #8fa8ec;
  background-color: #f4f9ff;
}
.yearly .title {
  background: #8fa8ec;
}
.yearly .goalcount {
  background-color: #8fa8ec;
  border: 2px solid #f4f9ff;
}
.yearly .containerTarget {
  color: #4d5f91;;
}

.CollectionDetail{
  background: url(./components/ASSETS/images/health\ kopyası.jpeg) no-repeat;
  background-size: 100% 65%;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: top;



}
.item {
  background: white;
  display: flex;
  /* border: 1px solid; */
  box-shadow: 0px 0px 12px 2px #979cb9;
  width: 750px;
  border-radius: 50px;
  margin: 0px auto;
  margin-top: -100px;
  font-size: 18px;
  line-height: 30px;
  font-family: system-ui;
  color: #767676;
  text-align: left;
}
.collectionHead {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  color: white;
  font-size: 45px;
  text-shadow: 6px 4px 7px black;
  padding-top: 20px;
}
.item ul {
  margin: 30px 60px;
}
.item ul li {
  margin: 5px 0px;
}
.bgOpacity {

  height: 300px;
  width: 100%;
  margin: 0 auto;

}
.item ul li::marker {
  color: #a9722d;
}
.ContainerWheel {
  width: 100%;
  background: #ffa5a5;
  height: 610px;
  position: relative;
}
.ContainerWheel h1 {
  color: white;
  display: flex;
  text-shadow: 1px 1px 4px #3e3e3e;
  font-size: 39px;
  padding: 30px 200px;
  margin: 0;
}
.ContainerWheel p {
  color: white;
  font-size: 23px;
  margin: 0;
  display: flex;
  text-align: center;
  padding-left: 300px;
  text-shadow: 1px 1px grey;
}
.articles ul {
  display: table;
  list-style: auto;
  text-align: left;
  color: white;
  font-size: 23px;
  margin-left: 174px;
  margin-top: 110px;
  text-shadow: 1px 1px #848484;
}

.imgWheel img {
  display: block;
  width: 394px;
  position: absolute;
  top: 40px;
  right: 200px;
}


@media screen and (max-width: 1200px){

}


